@import "../../../styles/base.scss", "../../../styles/animation.scss", "../../../styles/variables.scss";
/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba($color-primary, 0.8), rgba($color-primary-dark, 0.8)), url("../../../resources/images/hero.jpg");
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

  &__logo-box {
    position: absolute;
    left: 40px;
    top: 40px;
  }

  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    // background-color: red;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  &__logo {
    height: 35px;
  }
}

.heading-primary {
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 60px;
  &--main {
    display: block;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 35px;
    backface-visibility: hidden;
    animation: moveInLeft 800ms ease-in;
  }

  &--sub {
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 17px;
    animation: moveInRight 800ms ease-in;
  }
}

.btn {
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all 0.2s ease;
    position: relative;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s ease;
  }

  &--white {
    background-color: #ffffff;
    color: #777;
    &::after {
      background-color: #fff;
    }
  }

  &--animated {
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
  }
}
