@import "../styles/functions.scss";
.u-center-text {
  text-align: center !important;
}

.u-margin-b-big {
  margin-bottom: rem(80px) !important;
}

.u-margin-b-small {
  margin-bottom: rem(15px) !important;
}

.u-margin-t-big {
  margin-bottom: rem(80px) !important;
}
